/* 
    This code represents the selected CSS code.
    It is responsible for styling a specific element or elements on a web page.
    Please refer to the comments within the code for more specific details on its functionality.
*/

.acehaddock.PCF.Components\.YearPicker input[type="number"] {
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0);
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: text;
    display: block;
    font-family: SegoeUI, "Segoe UI";
    font-size: 14px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 600;
    height: 35px;
    letter-spacing: normal;
    line-height: 35px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(0, 0, 0);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0px;
    text-align: start;
    text-indent: 0px;
    text-overflow: ellipsis;
    text-rendering: auto;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    width: 100%;
    word-break: normal;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-border-image: none;
}

.acehaddock.PCF.components\.YearPicker input [type="number"]:hover {
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(102, 102, 102);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(102, 102, 102);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(102, 102, 102);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(102, 102, 102);
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: text;
    display: block;
    font-family: SegoeUI, "Segoe UI";
    font-size: 14px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: 35px;
    letter-spacing: normal;
    line-height: 35px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(0, 0, 0);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 0px;
    text-align: start;
    text-indent: 0px;
    text-overflow: ellipsis;
    text-rendering: auto;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    width: 100%;
    word-break: normal;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-border-image: none;
}